<div class="container">
<nav class="navabr navbar-light bg-primary">
    <div class="container-fluid" style="color: rgb(15, 48, 158);">
        <h1 style="color: aliceblue;">Welcome to Nook & Cranny furnitures</h1>
        <div class="d-flex">
        </div>
    </div>
</nav>
<br>
<img
      src="../../assets/images/Furniture Home.jpeg"
      style="width: 80%; height: 180px;"
    />
    <br><br>
    <hr>
    <br>
    <h1 style="color: blue;">Furnitures Available</h1><hr>

<div class="grid-container">
  <div  class="furniture" *ngFor="let furniture of Furniture | filter:searchKey:'furnitureName'">
    <div class="main">
      <div class="card">
        <div class="image">
          
    <img
      src="../../assets/images/{{ furniture.furnitureName }}.jpeg"
      style="width: 90%"
    />
  </div>
    {{ furniture.furnitureCode }}
    <div class="title">
    <h1>{{ furniture.furnitureName }}</h1>
  </div>
  <div class="des">
    <p>from {{ furniture.furnitureType }}</p>
    <p>${{ furniture.furnitureDescription }}</p>
    <p>Rs.{{ furniture.furniturePrice }}</p>
    <button class="btn btn-success" style="color: blue;" (click)="addtoCartReDirect()">Add to Cart</button>
  </div>
</div>
</div>
</div>
</div>
</div>



