p{
    margin:0;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 5em;
    width: 80%;
    font-size: medium;
    }


  
  button {
    margin-right: 10px;
    padding: 0 40px; 
    margin:15px;
    font-size: large;
  }
  
  .radio-group {
    display: flex;
    /* flex-direction: column; */
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .radio-button {
    margin-right: 15px;
  }
  
  mat-form-field {
    display: block;
  }

 
  .container{
    display: block;
    background-color:white;
    color: black;
    text-align:center;
    padding-top: 10px;
    margin-bottom: 10px;
}