<button class="btn btn-info" type="button"  data-bs-toggle="modal" data-bs-target="#updateFurniture">Edit</button>

 <!-- Modal -->
 <!-- <div class="modal fade" id="updateFurniture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Update Furniture Details</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        <form>
          <label for="furnitureCode">Furniture Code </label>
          <input type="number" placeholder="furnitureCode" name="furnitureCode" [(ngModel)]="productData1.furnitureCode"> <br>
        
          <label for="furnitureName">Furniture Name</label>
          <input type="text" placeholder="furnitureName" name="furnitureName" [(ngModel)]="productData1.furnitureName"> <br>
        
          <label for="furnitureType">Furniture Type</label>
          <input type="text" placeholder="furnitureType" name="furnitureType" [(ngModel)]="productData1.furnitureType">
          <br>
        
          <label for="furnitureDescription">Furniture Description</label>
          <input type="text" placeholder="furnitureDescription" name="furnitureDescription" [(ngModel)]="productData1.furnitureDescription"> <br>
        
          <label for="furniturePrice">Furniture Price</label>
          <input type="text" placeholder="furniturePrice" name="furniturePrice" [(ngModel)]="productData1.furniturePrice"> <br>
        
          <div>
            <button (click)="updateFurniture()">Update</button></div>
        </form> -->